body {
	background: var(--white);
	font-family: Geometria, sans-serif;
	outline-color: var(--red) !important;

	color: var(--black);
}

body.prevent-scroll {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

popup-component.slide-scroll-active,
html.slide-scroll-active,
html.slide-scroll-active body {
	position: fixed;
	overflow: hidden;
}

::selection {
	background: #AA8E71;
	color: var(--white);
	-webkit-text-fill-color: var(--white);
	text-fill-color: var(--white);
}
::-moz-selection {
	background: #AA8E71;
	color: var(--white);
	-webkit-text-fill-color: var(--white);
	text-fill-color: var(--white);
}

.svg-defs {
	display: none;
}

main {
	position: relative;
}