:root {
	/*colors*/
	--red: #F51B1B;
	--black: #0D0C0C;
	--white: #FAFAFA;
	--grey: #666666;
	/*easings*/
	--ease-in: cubic-bezier(0.71,0,0.65,0.34);
	--ease-out: cubic-bezier(0.19,1,0.22,1);
	--ease: cubic-bezier(0.77,0,0.175,1);
	--sine: cubic-bezier(0.445,0.05,0.55,0.95);
	--bounce: cubic-bezier(0.655,0.66,0.185,1.265);
	/*sizes*/
}