mixin picture(pictureClass, imgClass, path, name, alt, type, mobile)
    picture.picture(class=pictureClass)
         each val in type
             source(srcset=path + "/" + name + "." + val media="(min-width: 1024px)" type="image/" + val)
             if !mobile
                source(srcset=path + "/" + name + "-m." + val type="image/" + val)
         img.img(src=path + "/" + name + ".jpg" class=imgClass alt=alt)
